body {
		background-color: black;
		color: lightgrey;
		font-family:'Indie Flower', cursive;
		font-size: '16pt'
}

h3, h4 {
		color: darkblue;
		font-size: 20pt;
		b
}

h3 {
	color: darkred;
	font-size: 40;
	border-bottom: 1pt grey solid;
}

h5 {
		color: purple;
}

.js .cbp-ntcontent {
	display: none;
}

.cbp-ntopen > .cbp-ntcontent {
		display: block;
}

li {
	list-style: ;
}

li {
	list-style-image:
}
