body {
		background-color: white;
		color: lightgrey;
		font-family:'Indie Flower', cursive;
		font-size: '16pt'
}

h3, h4 {
		color: darkblue;
		font-size: 20pt;
}

h3 {
	color: darkred;
	font-size: 40;
	border-bottom: 1pt grey solid;

}

.cbp-nttrigger::before {
	content: ">";
	padding-right: 0.5em
}
.cbp-ntopen > .cbp-nttrigger::before {
	content: "v";
}

.cbp-nttrigger:hover {
	cursor: pointer;
}

.cbp-nttrigger:hover::before{
	color: green;
	content: ;
}

h5 {
		color: purple;
}

.js .cbp-ntcontent {
	display: none;
}

.cbp-ntopen > .cbp-ntcontent {
		display: block;
}


li {
	list-style-image:
}
