body{
  width: 100%;
  max-width: 100%;

  .content-current {
    display: block;
  }

    .container {
      width: 100%;
      max-width: 100%;
      position: relative;
      clear: both;
      float: left;

 .tab-width {

  

        ul {
          margin: auto;
          text-align: center;


         li {
      float: left;
      list-style: none;
      display: inline-block;
      border: 1px solid gray;
      padding: 1em;
      cursor: pointer;

      a {
      text-decoration: none;
      color: gray;
}

&::before, &::after {
  width: 100%;
  border-bottom: 1px solid;
}

}// end tabs
}//end ul
}//end tab width





      .content {
margin-top: 2em;

      .display-none {
        display: none;
      }

        .mediabox {
        	float: left;
        	width: 25%;
        	padding: 0 25px;


       img {
        	max-width: 100%;
        	display: block;
        	margin: 0 auto;
        }

         h3 {
        	margin: 0.75em 0 0.5em;
        }

         p {
        	padding: 0 0 1em 0;
        	margin: 0;
        	line-height: 1.3;
        }

      }//end mediabox
}//end content

    }// end container

} // end body
