body {
    width: 100%;
    max-width: 100%;
    .content-current {
        display: block;
    }
    .container {
        width: 100%;
        max-width: 100%;
        position: relative;
        clear: both;
        float: left;
        .tab-width {
            display: block;
            text-align: center;
            margin-top: 2em;
            margin-bottom: 10em;
            a:hover {
                color: darkgray;
            }
            ul {
                // position: absolute;
                padding: 0;
                margin: 0 auto;
                li {
                    float: left;
                    list-style: none;
                    display: inline-block;
                    border-top: 1px solid lightgrey;
                    border-right: 1px solid lightgrey;
                    border-left: 1px solid lightgrey;
                    width: 10%;
                    cursor: pointer;
                    margin-right: 0.5em;
                    margin-left: 0.5em;
                    padding: 1em;
                    position: relative;
                    a {
                        text-decoration: none;
                        color: lightgray;
                        width: 100%;
                    }
                }
                //end li
            }
            //end ul
            .tabs-current {
                a {
                    color: black;
                }

                // .tabs-current::after,
                // .tabs-current::before {
                //
                //   border-bottom: 1px solid black;
                // }
            }
        }
        //end tab width
        .content {
            margin-top: 2em;

            .display-none {
                display: none;
            }
            .mediabox {
                float: left;
                width: 25%;
                padding: 0 25px;
                img {
                    max-width: 100%;
                    display: block;
                    margin: 0 auto;
                }
                h3 {
                    margin: 0.75em 0 0.5em;
                }
                p {
                    padding: 0 0 1em;
                    margin: 0;
                    line-height: 1.3;
                }
            }
            //end mediabox
        }
        //end content
    }
    // end container
}
// end body
