body {

  .accordion{

    .trigger{
      cursor: pointer;

      }

    li {
      list-style: none;


      .trigger::before{
        content: "\2192";
        padding-right: 1em;
        color:grey;
      }
      .trigger:hover::before{
        content: "\2198";
        padding-right: 1em;
        color: #C54E0A;
      }
      .content-close {
        height: 0;
        display: none;
      }
      .trigger-open::before{
        content: "\2193";
        color: #C54E0A;
        padding-right: 1em;


    }//end li





  }// end .accordion



}//end body
