body {
    color: darkgrey;
    font-family: 'Calibri', sans-serif;
}

h1 {
    color: cornflowerblue;
    font-family: 'Comic Sans', sans-serif;
    font-size: 30pt;
}


h3 {
    color: cornflowerblue;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 20pt;
    list-style: none;
}

.cbp-vm-switcher.cbp-vm-view-grid li {
 width: 30%;
 display: inline-block;
}

.cbp-vm-switcher.cbp-vm-view-list li {
  display: block;
}

.cbp-vm-switcher.cbp-vm-view-list li > * {
  display: inline-block;
}
.cbp-vm-switcher.cbp-vm-view-list li .cbp-vm-image {
  width:25%; max-width:200px;
}
.cbp-vm-details {
    color: cornflowerblue;
}
.cbp-vm-icon a{
  text-decoration: none;
  width: 5em;
  height: 5em;
  display: inline-block;
  background-color: lightblue;
}

#cbp-vm {
    border-style: solid;
    border-color: cornflowerblue;
    padding-top: 5em;
    padding-left: 5em;
}


.cbp-vm-options {
    color: cornflowerblue;
    text-decoration-line: none;
    text-align: right;
}
