body {
  font-family: arial, sans-serif;
  color: cornflowerblue;
}

li {
  display: inline-block;

}

a.icon-shop::before{
  content: '\1f4b0';
  font-size: 100%;
}

#tabs nav ul li.tabcurrent{
  color: cornflowerblue;
}


nav ul {
  border-bottom: 1px solid cornflowerblue;
  padding-bottom: 0.75em;
  margin-top: 3.5em;
  margin-bottom: 2em;
}
a {
  hover:
}
nav a {
  font-size: 20pt;
  font-family:'Bree Serif', serif;
  padding: 0.5em 1em 0.5em 1em;
  border: 1px solid cornflowerblue;
  border-bottom: 0;
  position: relative;
  margin: .5em .5em .5em .5em;
  text-decoration: none;
  font: cornflowerblue;
  box-sizing: border-box;
}

nav {
  text-align: center;
}


.mediabox img {
  width: 100%;
}
.mediabox {
  width: 33%;
  float: left;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
}

.content section[id^="section-"]{
  display:none;
  padding-right: 1em;
  padding-left: 1em;
}

.content section[id^="section-"].content-current {
  display: block;
}

.content section[id^="section-"]::after{
  content: " ";
  display: table;
  clear: both;
}
/* if display is screen AND viewport is <= 800px wide..*/
@media screen and (max-width: 800px) {
  nav a > span {
  display: none;
  }
}

@media screen and (max-width: 500px){
  nav a {
    margin: 0;
    width: 20%;
  }
}
