body {
  margin: 0;
  padding: 0;
  main {

    nav{
                display: block;
                text-align: center;
                margin-top: 2ex;
                margin-bottom: 6ex;

      .fwt {

            padding: 0;
            margin: 0;
            width: 100%;


              li {
                float: left;
                display: inline-block;
                width: 50%;
                min-width: 3em;
                padding: 0;
                border-top: .15ex solid lightgray;
                border-left: .15ex solid lightgray;
                border-right: .15ex solid lightgray;
                border-bottom: .15ex solid lightgray;
                line-height: 2em;
                cursor: pointer;

                a {
                  display: block;
                  width: 100%;
                  text-decoration: none;
                  padding: .45ex 0 .45ex 0;
                  color: blue;
                  font-size: 3ex;
                  line-height: 1.5em;


                }
              }
              .active{
                border-top: .4ex solid red;
                border-left: .15ex solid lightgray;
                border-right: none;
                border-bottom: none;

                a{
                color: black;
            }
          }
        }
    }//end nav

    #mobile-pic {
      #avatar {
        height: 13em;
        width: 10em;
        margin-top: 1em;
      }
      //avatar
    }
    //mobile-pic
    .mobile-list{
      list-style: none;
    }

    #mobile-profinfo{
      width: 100%;
      background-color: #F9F9F9;

      button{
        background-color: #66BF47;
        color: white;
        border: none;
        width: 80%;
        margin: 0 auto;
        }
  ul{
    float: left;
    li{
      list-style: none;
        float: left;
    }
  }
    }
  }
  //end main
}
//end body
